.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.roomSetting {
  font-family: serif;
  font-size: 24px;
  padding:  20px;
}

.allTheNames {
  font-family: serif;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  right: 0;
}
